:root {
  --darkBlack: #080708;
  --darkGrey2: #0f0f0f;
  --russianViolet: #0b012c;
  --persianIndigo: #3a097d;
  --russianLight: #47014b;
  --midnight: #7a0167;
  --indigoGReen: #70ffc4;
  --photoNegativeBlue: #83cce8;
  --negativeRed: #c64343;
  --marioJudah: #92323c;
}

.cn {
  width: 100%;
}

.productImage {
  width: 100%;
  height: auto;
}

.imageProduct {
  width: 100%;
  height: auto;
  transition: 2s;
  border-radius: 10px;
  padding: 5px;
  border: 1px #e1e002 solid !important;
}

.imageProduct:hover {
  border-color: white !important;
}

.productJumbo {
  margin-top: 12%;
  border-radius: 10px;

  background-color: var(--darkBlack);
}
.productImageContainer {
  margin: 5px;
}

.productLogo {
  max-width: 200px;
  max-height: 200px;
}
.nameProduct {
  font-family: ProzaSemiMedium;
  color: white;
  animation: glitch1 2.5s infinite;
}

.descriptionProduct {
  font-family: ProzaReg;
  color: white;
}

.priceProduct {
  font-family: ProzaReg;
  color: white;
}

@media screen and (max-width: 600px) {
  .productJumbo {
    width: 100%;
    margin-top: 29%;
  }
}

.productDivParent {
  justify-content: center !important;
}

/* xs) — screen width < 576px (This is the “default” tier)
sm — screen width ≥ 576px
md — screen width ≥ 768px
lg — screen width ≥ 992px
xl — screen width ≥ 1200px */
