:root {
  --darkBlack: #080708;
  --russianViolet: #0b012c;
  --persianIndigo: #3a097d;
  --russianLight: #47014b;
  --midnight: #7a0167;
  --photoNegativeBlue: #83cce8;
  --tpYellow: #E1E002;
}

@font-face {
  src: url("../css/fonts/OldStandardTT-Bold.ttf");
  font-family: OldStandardBold;
}
@font-face {
  src: url("../css/fonts/OldStandardTT-Regular.ttf");
  font-family: OldStandardRegular;
}
@font-face {
  src: url("../css/fonts/Orbitron-Black.ttf");
  font-family: OrbitronBlk;
}
@font-face {
  src: url("../css/fonts/Orbitron-Bold.ttf");
  font-family: OrbitronBold;
}
@font-face {
  src: url("../css/fonts/Orbitron-ExtraBold.ttf");
  font-family: OrbitronExtraBold;
}
@font-face {
  src: url("../css/fonts/Orbitron-Medium.ttf");
  font-family: OrbitronMedium;
}
@font-face {
  src: url("../css/fonts/Orbitron-Regular.ttf");
  font-family: OrbitronRegular;
}
@font-face {
  src: url("../css/fonts/Orbitron-SemiBold.ttf");
  font-family: OrbitronSemiBold;
}
@font-face {
  src: url("../css/fonts/Orbitron-VariableFont_wght.ttf");
  font-family: OrbitronVariable;
}
@font-face {
  src: url("../css/fonts/ProzaLibre-Regular.ttf");
  font-family: ProzaReg;
}

@font-face {
  src: url("../css/fonts/ProzaLibre-SemiBold.ttf");
  font-family: ProzaSemiBold;
}
.brandTitle {
  font-size: xx-large;
  font-family: ProzaSemiBold;
  color: white !important;
}

@media only screen and (max-with: 600px) {
  .brandTitle {
    font-size: 20px !important;
  }
}

.tpLogo {
  max-height: 100px;
  max-width: 100px;
}
.navLink {
  font-family: ProzaReg;
  color: white !important;
  transition: 1.5s;
}

.navLink:hover {
  color: var(--tpYellow) !important;
}

.navbar {
  background-color: var(--darkBlack) !important;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.dropdownParent {
  background-color: black;
}

.shoppingCartDiv {
  justify-content: flex-end;
  display: flex;
  width: 100%;
}
.cartIcon {
  max-height: 50px;
  max-width: 50px;
  filter: invert(1);
}

.navbar-toggler-icon {
  color: white !important;
}